# linux   /boot/vmlinuz-7.2.6-1-default root=UUID=5c054ead-b6aa-eeb6-d87f-27611773897b  ${extra_cmdline} quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 ignition.platform.id=qemu security=selinux selinux=1
name = "suse"
type = "pvh"
vcpus = 2
memory = 2048
# Direct Boot Configuration
# options rw $ignition_firstboot mitigations=auto,nosmt ostree=/ostree/boot.1/fedora-coreos/ad954a13d4a98c29adc7c7e789c5b597192c03aa743a52e784396f6f7e7f543e/0 ignition.platform.id=metal
kernel = "/data/disks/openSUSE/vmlinuz"
ramdisk = "/data/disks/openSUSE/initrd"
extra = "console=hvc0 rw ignition.firstboot mitigations=auto,nosmt ostree=/ostree/boot.1/fedora-coreos/ad954a13d4a98c29adc7c7e789c5b597192c03aa743a52e784396f6f7e7f543e/0 ignition.platform.id=metal"
# Attach your converted qcow2 disk along with your Ignition ISO
disk = [
  'format=qcow2, vdev=xvda, access=rw, target=/data/disks/fcos-metal.qcow2',
]
